body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body * {
  transition: all 300ms ease-in-out;
}


.container {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.cards {
  width: 30%;
  margin: 5px;
  text-align: left;
  display: inline-table;
}

.navbar {
  letter-spacing: 5px;
}

.thumbnail {

  border: none;
  
}

.thumbnail p {
  margin-top: 15px;
  color: rgb(61, 40, 40);
  margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;      
}

.jumbotron {
  margin-bottom: 0;
  background-color: #f4511e; /* Orange */
  color: #ffffff;
  padding: 100px 25px
}

.row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
  padding: 400px 0;
}
